*{
  margin: 0;
  padding: 0;
}
.card{
  height:60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 27.5vw;
  background-color: #BEE3DB;
  border: 1px solid black;
  border-radius: 15px;
  padding: 15px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 15px;
}

.card:hover{
  box-shadow: 0 2px 15px #89B0AE;
  transition: all ease 200ms;
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: #555B6E;
}